<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Beautiful Pricing Table</title>
</head>

<body>
<section class="pricing-table">
  <div class="container">
    <div class="block-heading">
      <h2>Tipar foto</h2>
      <p>Oferim un spectru larg de servicii și produse în domeniul fotografiei ,foto suvenirelor,design.</p>
    </div>
    <div class="row justify-content-md-center">

      <!--first block-->

      <div class="col-md-5 col-lg-3">
        <div class="item">
          <div class="heading">
            <h3>Mărime mare</h3>
          </div>
          <p [class.warning-message]="warningMessageInput1">{{textMessage}}</p>
          <div class="features">
            <div class="funkyradio" *ngFor="let bigSize of bigSizePhotos;">
              <div class="funkyradio-success">
                <input type="radio"
                       name="radio-big-size-selection"
                       id="{{bigSize.id}}"
                       value="{{bigSize.price}}"
                       (click)="setCurrentItem1(bigSize)"/>
                <label for="{{bigSize.id}}"><span class="feature">{{bigSize.size}}</span> : <span class="value">{{bigSize.price}} {{bigSize.currency}}</span></label>
              </div>
            </div>
          </div>
          <p></p>

          <div class="upload-btn-wrapper" (click)="applyWarningToMessage('#input1')">
            <button class="btn btn-block btn-primary"><span class="glyphicon glyphicon-upload"></span> Alege fotografie
            </button>
            <input [disabled]="isOptionSelected1" #input1 type="file" multiple (change)="fileChangeInput1($event)"/>
          </div>
          <p></p>
          <div class="price" *ngIf="bigSizeTotalPrice > 0">
            <p *ngFor="let item of bigSizeItems">{{item.size}} : {{item.pcs}}
              <a [routerLink]="" (click)="removeItem1(item)"><span class="glyphicon glyphicon-remove remove-icon"></span></a>
            </p>
            <h4>{{bigSizeTotalPrice}} mdl</h4>
          </div>
        </div>
      </div>

      <!--second block-->

      <div class="col-md-5 col-lg-3">
        <div class="item">
          <div class="heading">
            <h3>Mărime mica</h3>
          </div>
          <p [class.warning-message]="warningMessageInput2">{{textMessage}}</p>
          <div class="features">
            <div class="funkyradio" *ngFor="let smallSize of smallSizePhotos;">
              <div class="funkyradio-success">
                <input type="radio"
                       name="radio-small-size-selection"
                       id="{{smallSize.id}}"
                       value="{{smallSize.price}}"
                       (click)="setCurrentItem2(smallSize)"/>
                <label for="{{smallSize.id}}"><span class="feature">{{smallSize.size}}</span> : <span class="value">{{smallSize.price}} {{smallSize.currency}}</span></label>
              </div>
            </div>
          </div>
          <p></p>

          <div class="upload-btn-wrapper" (click)="applyWarningToMessage('#input2')">
            <button class="btn btn-block btn-primary"><span class="glyphicon glyphicon-upload"></span> Alege fotografie
            </button>
            <input [disabled]="isOptionSelected2" #input2 type="file" multiple (change)="fileChangeInput2($event)"/>
          </div>
          <p></p>
          <div class="price" *ngIf="smallSizeTotalPrice > 0">
            <p *ngFor="let item of smallSizeItems">{{item.size}} : {{item.pcs}}
              <a [routerLink]="" (click)="removeItem2(item)"><span class="glyphicon glyphicon-remove remove-icon"></span></a>
            </p>
            <h4>{{smallSizeTotalPrice}} mdl</h4>
          </div>
        </div>
      </div>

      <!--third block-->
      <div class="col-md-5 col-lg-3">
        <div class="item">
          <div class="heading">
            <h3>Magnet</h3>
          </div>
          <p [class.warning-message]="warningMessageInput3">{{textMessage}}</p>
          <div class="features">
            <div class="funkyradio" *ngFor="let magnetSize of magnetSizePhotos;">
              <div class="funkyradio-success">
                <input type="radio"
                       name="radio-magnet-size-selection"
                       id="{{magnetSize.id}}"
                       value="{{magnetSize.price}}"
                       (click)="setCurrentItem3(magnetSize)"/>
                <label for="{{magnetSize.id}}"><span class="feature">{{magnetSize.size}}</span> : <span class="value">{{magnetSize.price}} {{magnetSize.currency}}</span></label>
              </div>
            </div>
          </div>
          <p></p>

          <div class="upload-btn-wrapper" (click)="applyWarningToMessage('#input3')">
            <button class="btn btn-block btn-primary"><span class="glyphicon glyphicon-upload"></span> Alege fotografie
            </button>
            <input [disabled]="isOptionSelected3" #input3 type="file" multiple (change)="fileChangeInput3($event)"/>
          </div>
          <p></p>
          <div class="price" *ngIf="magnetSizeTotalPrice > 0">
            <p *ngFor="let item of magnetSizeItems">{{item.size}} : {{item.pcs}}
              <a [routerLink]="" (click)="removeItem3(item)"><span class="glyphicon glyphicon-remove remove-icon"></span></a>
            </p>
            <h4>{{magnetSizeTotalPrice}} mdl</h4>
          </div>
        </div>
      </div>

      <!--fourth block-->
      <div class="col-md-5 col-lg-3">
        <div class="item">
          <div class="heading">
            <h3>Pinza</h3>
          </div>
          <p [class.warning-message]="warningMessageInput4">{{textMessage}}</p>
          <div class="features">
            <div class="funkyradio" *ngFor="let clothSize of clothSizePhotos;">
              <div class="funkyradio-success">
                <input type="radio"
                       name="radio-cloth-size-selection"
                       id="{{clothSize.id}}"
                       value="{{clothSize.price}}"
                       (click)="setCurrentItem4(clothSize)"/>
                <label for="{{clothSize.id}}"><span class="feature">{{clothSize.size}}</span> : <span class="value">{{clothSize.price}} {{clothSize.currency}}</span></label>
              </div>
            </div>
          </div>
          <p></p>

          <div class="upload-btn-wrapper" (click)="applyWarningToMessage('#input4')">
            <button class="btn btn-block btn-primary"><span class="glyphicon glyphicon-upload"></span> Alege fotografie
            </button>
            <input [disabled]="isOptionSelected4" #input4 type="file" multiple (change)="fileChangeInput4($event)"/>
          </div>
          <p></p>
          <div class="price" *ngIf="clothSizeTotalPrice > 0">
            <p *ngFor="let item of clothSizeItems">{{item.size}} : {{item.pcs}}
              <a [routerLink]="" (click)="removeItem4(item)"><span class="glyphicon glyphicon-remove remove-icon"></span></a>
            </p>
            <h4>{{clothSizeTotalPrice}} mdl</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

</body>

</html>

<!--code for radio buttons taken from : https://bootsnipp.com/snippets/featured/funky-radio-buttons-->

<!--price template-->
<!--          <div class="price">
            <h4>$25</h4>
          </div>-->

<!--ribbon for some features-->
<!--<div class="ribbon">Best Value</div>-->


<!-- input file-->
<!--            <div>
              <input type="file" multiple>
            </div>-->
